.idea
.gradle
build
api-client/src/
api-spec/src/
.classpath
.project
.settings/
api-client/.classpath
api-client/.settings/
api-client/.project
api-client/bin/
api-spec/.classpath
api-spec/.settings/
api-spec/.project
api-spec/bin/
/bin/
.DS_Store
